<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter OTP Code</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <h1 class="text-center">OTP</h1>
    <div class="col-md-12 row mt-5">
        <h3 class="text-center text-danger pt-2">An OTP Code has been sent to your mail.</h3>
        <section class="pt-2">
            <form action="/purchase" method="POST" class="row d-flex justify-content-center">
                <input type="hidden" name="product" value="<%=body.product%>">
                <input type="hidden" name="owner" value="<%=owner._id%>">
                <input type="hidden" name="card" value="<%=card._id%>">
                <input type="hidden" name="quantity" value="<%=body.quantity%>">
                <input type="hidden" name="priceperunit" value="<%=body.priceperunit%>">
                  <div class="col-md-4">
                    <!-- <label for="inputCity" class="form-label">CVV</label> -->
                    <input type="text" name="otp" class="form-control" placeholder="Enter OTP Code" required>
                  </div>
                  <div class="mt-3 d-flex justify-content-center">
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
            </form>
    </section>
    </div>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>